extends base

block content
    main.main
      .login-form
        h2.heading-secondary.ma-bt-lg Sign up
        form.form.form--signup
          .form__group
            label.form__label(for='name') Full name
            input#signup-name.form__input(type='text',placeholder='John Smith', required)
          .form__group
            label.form__label(for='email') Email address
            input#signup-email.form__input(type='email', placeholder='you@example.com', required)
          .form__group.ma-bt-md
            label.form__label(for='password') Password
            input#signup-password.form__input(type='password', placeholder='••••••••', required, minlength='8')
          .form__group.ma-bt-md
            label.form__label(for='password') Confirm your password
            input#signup-passwordconfirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
          .form__group
            button.btn.btn--green Sign up